!!!
html
  head
    title My page
  body.bp
    #container
      #header
        h1.page-title= My.awesome. page #is awesome#
      #nav
        ul#nav_list something sweet
          li
      #content
      #footer
        #copywrite-text= locals
        
        

        

        
        
